<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Finance Tracker{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    {% include "navbar.html" %}

    <div class="container">

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        {% if success %}
            <p class="success">{{ success }}</p>
        {% endif %}

        {% block content %}
        {% endblock %}

    </div>

</body>
</html>